@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;500&display=swap');
#moon_re, #moon_detail, #faq_detail {
	width: 800px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 5px;	
}

th {
	width: 150px;
	background: #FFDCE1;
	color: black;
	font-size: 18px;
}

td {
	width: 650px;
}

.subject, .content, .re {
	text-align: left;
}

.content {
	height: 300px;
	vertical-align: middle;
	padding-left: 15px;
}

.moonRe {
	height: 300px;
	vertical-align: middle;
	padding: 0px;
}

#button {
	padding: 20px;
	border: none;
	background: white;
}

#moon_menu, #faq_menu {
	text-align: right;
	margin: 5px;
}

.re {
	height: 300px;
	vertical-align: middle;
	padding: 0px;
	padding-left: 15px;
}

h1 {
	margin-bottom: 15px;
}

textarea {
	height: 300px;
	width: 650px;
}