@charset "UTF-8";

.prodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
	text-align: center;
}

h2 {
	margin:30px;
}

.sliderWrap {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderImg {  /* 이미지가 보이는 영역 */
    position: relative;
    width: 1200px;
    height: 600px;
    overflow: hidden;
}
.sliderInner {    /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /* 총 이미지 영역 */
    height: 600px;
}
.imageSlider {   /* 개별적인 이미지 */
    position: relative;
    width: 1200px;
    height: 600px;
}



.slider__wrap {
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img {  /* 이미지가 보이는 영역 */
    position: relative;
    width: 350px;
    height: 470px;
    overflow: hidden;
}
.slider__inner {    /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /* 총 이미지 영역 */
    height: 470px;
}
.slider {   /* 개별적인 이미지 */
    position: relative;
    width: 350px;
    height: 470px;
}
.slider__btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ffffffbd;
    transition: all 0.3s ease;
}
.slider__btn a:hover {
    color: #000;
}
.slider__btn a.prev {
	border-radius: 50%;
    left: 0;
}
.slider__btn a.next {
	border-radius: 50%;
    right: 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
.slider__dot .dot {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 5px;
}
.slider__dot .dot.active {
    background-color: rgba(255, 255, 255, 1);
}