@charset "UTF-8";

body {
   font-family: 'Hahmlet', serif;
    margin: 0;
    padding: 0;
}

.logo {
	max-width: 100%;
	margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.prodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    box-sizing: border-box;
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

.prodImage {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.product a {
    text-decoration: none;
    color: #333;
}

.prodName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prodPrice {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sorting	{
    display: flex;
    justify-content: flex-end;
}

select[name="정렬 방식"]	{
	margin-right: 10px;
}

.prodType {
    display: flex;
    gap: 60px; /* 원하는 간격 설정 */
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */
    margin-bottom: 30px; /* 간격을 위해 아래에 여분의 여백 추가 */
    margin-left: 10px;
}

.prodType button {
    padding: 15px 30px; /* 원하는 버튼 크기 설정 */
    font-size: 16px; /* 원하는 폰트 크기 설정 */
}		
.filter-buttons {
    display: flex;
    gap: 30px; /* 원하는 간격 설정 */
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */
    margin-bottom: 30px; /* 간격을 위해 아래에 여분의 여백 추가 */
    margin-left: 10px;
}

.filter-buttons button {
    padding: 15px 30px; /* 원하는 버튼 크기 설정 */
    font-size: 16px; /* 원하는 폰트 크기 설정 */
}	
p {
   font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}	